@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Bebas+Neue&family=Bodoni+Moda:opsz,wght@6..96,400;6..96,900&family=Bree+Serif&family=Caveat&family=Cinzel:wght@500&family=Cormorant:wght@300&family=Itim&family=Jost&family=Kanit:wght@300&family=Lato:wght@400;700&family=Mitr:wght@200&family=Open+Sans:wght@300;400;500;700&family=Poppins:wght@400;500;700&family=Prompt:wght@200;400&family=Roboto+Mono&family=Roboto+Slab:wght@500&family=Rokkitt:wght@300&family=Saira+Semi+Condensed&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#ff7d00,#ffffff,#2a9134);
}

hr{
    background-color: blue;
}

h1{
    text-align: center;
    padding: 30px;
    color: white;
    font-family: 'Archivo Black', sans;
    background-image: url(images/HD-wallpaper-camouflage-army-balidan-india.jpg);
    font-size: 40px;
    box-shadow: 2px 2px 5px #2773a5;
    backdrop-filter: blur(3px);
    
}

h2{
    font-size: 28px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: -48px;
    margin-left: 80px;
    font-family: 'Saira Semi Condensed', sans-serif;;
}

h3{ font-family:  'Kanit', sans-serif;
    font-size: 25px;


}


.container{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    


}

.image img{
    border: 2px black solid;
    padding: 10px;
    background-color: darkslategray;
    margin: 10px;
    margin-bottom: 190px;
    box-shadow: 2px 2px 5px #2773a5;
}


.text p{
    font-size: 20px;
    width:1100px;
    font-family: 'Prompt', sans-serif;
    text-align: justify;
    padding: 25px;
    justify-content: space-around;
    
}

abbr{
    text-decoration: none;
    color: blue;
    height: 30px;
    width: 30px;
}

sup{
    color: blue;
}

.images img{
    width: 400px;
    height: 280px;
    box-shadow: 2px 2px 5px blue;
    border-radius: 34px;

}

.imagesp img{
    width: 400px;
    height: 210px;
    padding: 5px;
    border: 2px black solid;
    background-color: #ff7d00;
    border-radius: 10px;
    
}

.imagespr img{
    width: 250px;
    height: 230px;
    margin-left: 20px;
    border: 2px white solid;
    background-color: white;
    padding: 6px;

}

.footer{
    width: 100%;
    height: 50px;
    background-color: white;
    border: 2px silver solid;

}

.footer h5{
    text-align: center;
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



